// SASS variables
$accentDark: #457b9d;
$accentLight: #a8dadc;
$highlight: #e63946;
$dark: #1d3557;
$light: #f1faee;

// Override bootstrap styles here.
// See https://getbootstrap.com/docs/4.0/getting-started/theming/#theme-colors for some pointers
$primary: #283861;
$danger: $highlight;
$secondary: $accentLight;
$warning: #00b2f5;
$info: $accentLight;
$success: #459d49;

/*#8acb88 sage green

#5bc0de blue 
*/

